{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}

    {{ dump(sulu_breadcrumb('d572e55c-0466-49d6-95f5-2c4d69bf6492')) }}
{% endblock %}
